.boxPrincipal {
    width: 100%;
}

.titlePrincipal {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.bodyItens {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    
}

.boxTickets {
    background-color: black;
    width: 200px;
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.boxTickets h2 {
    color: white;

}

.boxTickets2 {
    background-color: black;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 10px;
}

.box {
    display: flex;
}

.boxPrincipalArtigos {
    font-size: 50px;
    margin: 0 10vw 10vh 10vw;
}
.boxPrincipalArtigos h2 {
    font-size: 60%;
    color: var(--text-primary-color);
}

.divClassArtigos {
    display: flex;
}

.boxArtigos {
    padding: 0 12%;
    height: 70px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}



